<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playpeak</title>
</head>
<body>
    <main>
        <h1>Playpeak</h1>
        <p>pro dokončení registrace na SSPŠ Gaming zadej následující kód:<br><strong>{{code}}</strong> <i>(kód je platný 10 minut)</i></p>
        <p>Pokud jsi se nezaregistroval na SSPŠ Gaming, tento email ignoruj.</p>
        <p>S pozdravem,<br>Playpeak</p>
    </main>
</body>
</html>